@model BTLW_BDT.ViewModels.RegisterVM
@{
    ViewData["Title"] = "Register";
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../LayoutAdmin/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../LayoutAdmin/assets/img/favicon.png">
    <title>
        Material Dashboard 2 by Creative Tim
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="../LayoutAdmin/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="../LayoutAdmin/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <!-- CSS Files -->
    <link id="pagestyle" href="../LayoutAdmin/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />
    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
</head>

<body class="">
    <div class="container position-sticky z-index-sticky top-0">
  
    </div>
    <main class="main-content  mt-0">
        <section>
            <div class="page-header min-vh-100">
                <div class="container">
                    <div class="row">
                        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                            <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center" style="background-image: url('../LayoutAdmin/assets/img/illustrations/illustration-signup.jpg'); background-size: cover;">
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                            <div class="card card-plain">
                                <div class="card-header">
                                    <h4 class="font-weight-bolder">Sign Up</h4>
                                </div>
                                <div class="card-body">
                                    <form asp-action="Register" enctype="multipart/form-data">   
                                        <div class="row">
                                            <div class="row">
                                                <div class="form-item">
                                                    <label asp-for="@Model.TaiKhoan" class="form-label my-3"></label><sup>*</sup>
                                                    <input asp-for="@Model.TaiKhoan" class="form-control">
                                                    <span asp-validation-for="@Model.TaiKhoan" class="text-danger"></span>
                                                </div>
                                                <div class="form-item">
                                                        <label asp-for="@Model.MatKhau" class="form-label my-3"></label><sup>*</sup>
                                                    <input asp-for="@Model.MatKhau" type="password"  class="form-control" />
                                                        <span asp-validation-for="@Model.MatKhau" class="text-danger"></span>
                                                </div>
                                                <div class="form-item">
                                                        <label asp-for="@Model.XacNhanMatKhau" class="form-label my-3"></label><sup>*</sup>
                                                    <input asp-for="@Model.XacNhanMatKhau" type="password" class="form-control" />
                                                        <span asp-validation-for="@Model.XacNhanMatKhau" class="text-danger"></span>
                                                </div>
                                                <div class="form-item">
                                                    <label class="form-label my-3" asp-for="@Model.HoTen"></label><sup>*</sup>
                                                    <input asp-for="@Model.HoTen" type="text"  class="form-control" />
                                                    <span asp-validation-for="@Model.HoTen" class="text-danger"></span>
                                                </div>
                                                <div class="form-item">
                                                    <label class="form-label my-3" asp-for="@Model.NgaySinh"></label>
                                                    <input asp-for="@Model.NgaySinh" class=" form-control" />
                                                    <span asp-validation-for="@Model.NgaySinh" class="text-danger"></span>
                                                </div>
                                                <div class="form-item">
                                                    <label class="form-label my-3" asp-for="@Model.DiaChi"></label><sup>*</sup>
                                                    <input asp-for="@Model.DiaChi" class="form-control" />
                                                    <span asp-validation-for="@Model.DiaChi" class="text-danger"></span>
                                                </div>
                                                <div class="form-item">
                                                    <label class="form-label my-3" asp-for="@Model.DienThoai"></label><sup>*</sup>
                                                    <input asp-for="@Model.DienThoai" class="form-control" />
                                                    <span asp-validation-for="@Model.DienThoai" class="text-danger"></span>
                                                </div>

                                                <div class="form-item">
                                                    <label class="form-label my-3" asp-for="@Model.Email"></label><sup>*</sup>
                                                    <input asp-for="@Model.Email" type="email" class="form-control" />
                                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                                </div>
                                    
                                                <div class="form-item">
                                                    <label class="form-label my-3" for="Hinh">Hình<sup>*</sup></label>
                                                    <input type="file" name="Hinh" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row g-4 text-center align-items-center justify-content-center pt-4">
                                                <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Đăng ký</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                                    <p class="mb-2 text-sm mx-auto">
                                        Already have an account?
                                        <a asp-controller="access" asp-action="Login" class="text-primary text-gradient font-weight-bold">Sign in</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--   Core JS Files   -->
    <script src="../LayoutAdmin/assets/js/core/popper.min.js"></script>
    <script src="../LayoutAdmin/assets/js/core/bootstrap.min.js"></script>
    <script src="../LayoutAdmin/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="../LayoutAdmin/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
          var options = {
            damping: '0.5'
          }
          Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../LayoutAdmin/assets/js/material-dashboard.min.js?v=3.1.0"></script>
</body>

</html>
